@font-face {
   font-family: Sawasdee;
   font-style: normal;
   font-weight: normal;
   src: url(fonts/Sawasdee.ttf);
}
ul{
	list-style: none;
	margin: 0px;
}
li{
	float: left;
	width: 100px;text-align: center;
	height: 48px;
	line-height: 50px;
	border-bottom: 2px solid #ffffff;
	transition:all 0.3s ease-in;
}
.current-page{
	border-bottom: 2px solid #e06f60;
}
#header{
	position: absolute;
	background: #ffffff;width: 100%;
	height: 50px;
	margin: 0px;
	top: 0%;
	left: 0%;
	padding: 0px;
}
li:hover{
	background: #e06f60;
	border-bottom: 2px solid #e06f60;
	color: #ffffff;
	cursor: pointer;
}
	body{
	font-family: "Sawasdee";
}
#logo{
	color: #e06f60;
	background: #ffffff;
	position: relative;
	width: 150px;
	left: 85%;
	top: -40%;
	height: 50px;
	text-align: center;
}
#logo h2{
	position: absolute;
	top: 15px;
	transition:color 0.3s ease-in;
	cursor: default;
}
#body {
	position:absolute;
	top:50px;
	width: 100%;
	height:100%;
	left: 0%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
	transition:background 0.3s ease-in;
}
#home {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 585px;
	overflow: hidden;
	background: #ffffff
}
#slide1 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding:0px;
	left:0%;
	transition:left 0.5s ease-in;
}
#slide1 h1 {
	position: relative;
	top: 210px;
	text-align: center;
	font-size: 5rem;
}
#slide2 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	left: 100%;
	transition:left 0.5s ease-in;
}
#slide2 h2 {
	position: relative;	
	top: 210px;
	text-align: center;
	font-size: 3rem;
}
#slide3 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	left: 100%;
	transition:left 0.5s ease-in;
}
#slide3 h2{
	position: relative;
	top: 210px;
	text-align: center;
	font-size: 3rem;
}
#slide4 {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	left: 100%;
	transition:left 0.5s ease-in;
}
#slide4 h2 {
	position: relative;
	top: 210px;
	text-align: center;
	font-size: 3rem;
}
@keyframes hideLeft{
	from{left:0%;}
	to {left: -100%;}
}
@keyframes showLeft{
	from{left:100%;}
	to{left: 0%;}
}
@keyframes hideRight{
	from{left:0%;}
	to {left: 100%;}
}
@keyframes showRight{
	from{left: -100%;}
	to{left:0%;}
}
#view-works {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 585px;
	opacity:0;
	background: #fff;
}
#skills {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 585px;
	opacity:0;
	background: #fff;
}
#opinions {
	position: absolute;
	top: 0px;
	width: 100%;
	height: 585px;
	opacity:0;
	background: #fff;
}